<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous"
      />
      <link href="../../css/styles.css" rel="stylesheet" />
      <link href="../../css/style1.css" rel="stylesheet" />

</head>
<body>
     <!-- Responsive navbar-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">LAALI FELLOWSHIP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link " aria-current="page" href="/mentor/add-webinar">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/attendance">Attendance</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/grades">Grades</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/add-test">Add Test</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/grade-student">Grade Students</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/grades">View Grades</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/visualization">Visualize Mentee Attendance</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mentor/logout">Logout</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- Main Content -->
    <div class = "container">
    <h1>The Add Webinar Page</h1>
    <br>
        <form action="/mentor/add-webinar">
            <input class = "form-control" type="text" name="webinarname" placeholder="Webinar Title"><br><br>
            <input class = "form-control" type="date" name="date"><br><br>
            <input class = "form-control" type="text" name="webinarLink" placeholder="Webinar Link"><br><br>
            <button class = "btn btn-dark btn-lg" type="submit">Add Webinar</button>
        </form>
    </div>
    <br>
    <!-- Footer-->
    <footer style="position: absolute; bottom: 0; width: 100%;" class="py-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>