<html>

<head>
  
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script>(function(w, d) { w.CollectId = "60ea3eba0ac71735ab58edd9"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form action="/" method="POST" class="form1">
      <input name="username" class="un " type="text" align="center" placeholder="Username">
      <input name="password" class="pass" type="password" align="center" placeholder="Password">
      <input name="input" class="un " type="text" align="center" placeholder="Mentor/Mentee/Manager">
      <button class="submit" align="center" type="submit">Sign in</button>
      <!-- <p class="forgot" align="center"><a href="#">Forgot Password? -->
          
      </p>
            
                
    </div>
     
</body>

</html>