<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>THE LAALI FOUNDATION</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../css/styles.css" rel="stylesheet" />
        <link href="../../css/style1.css" rel="stylesheet" />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous"
      />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">LAALI-FELLOWSHIP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/dashboard">Dashboard</a></li> -->
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/schedule">Schedule</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/webinars">Webinars</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/feedback">Feedback</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentor/grades">View Grades</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mentee/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7 "><img class="img-fluid rounded mb-4 mb-lg-0" src="../../images/mentor.jpg" width="500px" height="600px" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">MENTEE WORKSPACE </h1>
                    <p>This is the mentor workspace to schedule webinars, set deadlines, reward marks and monitor the overall growth of mentee </p>
                    <a class="btn btn-success" href="sessions.html">Let's get started!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">YOUR ONE STOP PLACE TO MANAGE EVERYTHING !</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"> <a href="sessions.html">Sessions</a> </h2>
                            <p class="card-text">Create your own sessions or webinars for everytone to attend. You can also post the recordings here!</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"> <a href="attendance.ejs">Attendance</a> </h2>
                            <p class="card-text">This here is to mark your mentee's attendance and monitor it regularly without any hassle.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        
                        <div class="card-body">
                            <h2 class="card-title"> <a href="viewMentee.ejs">Grades</a> </h2>
                            <p class="card-text"> This will help you monitor the grades of your mentees over the course of time  </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
